div#container {

    display: flex;
    flex-direction: row;
    gap: 200px;

    section#intro {
        
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 0;
        width: 508px;
        

        div#header {

            text-wrap: wrap;
            
            h3 {
                font: var(--overline);
                color: var(--content-secondary);
            }

            p {
                font: var(--display-large);
                text-transform: uppercase;
                span {
                    text-wrap: nowrap;
                }
            }
        }

        div.questions {
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 10px;

        img {
            width: 30px;
            height: 30px;
            object-fit: cover;
        }

        .txt {
            
            h4 {
                color: var(--content-brand);
            }
            p {
                font: var(--paragraph-small);
                color: var(--content-secondary);
            }
            }
        }

    }


    section#numberDraw {
        
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 482px;
        padding-top: 35px;

        div#infos {
            h3 {
                font: var(--label-large);
            }
            p {
                font: var(--paragraph-large);
                color: var(--content-secondary);
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            div#inputs {

                display: flex;
                gap: 20px;

                div.input {
                    display: flex;
                    flex-direction: column;
                    width: 20%;
                    text-align: center;

                    label {
                        font: var(--label-medium);
                        color: var(--content-secondary);
                        text-transform: uppercase;
                    }

                    input {
                        height: 56px;
                        background-color: var(--background-secondary);
                        border: none;
                        border-radius: 10px;
                        color: var(--content-primary);
                        text-align: center;
                        padding-left: 15px;
                        font: var(--display-small);
                        font-style: none;
                        
                    }
                }
            }
        }


        button {
            text-transform: uppercase;
            background-color: var(--background-tertiary);
            border: none;
            border-radius: 10px;
            width: 100%;
            height: 56px;
            font: var(--label-medium);
            color: var(--content-primary);

            img {
                position: relative;
                top: 6px;
            }
        }

        
    }

}