* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    margin: auto;
    justify-content: center;
    height: 100vh;
    font-family: var(--font-family-sora);
    background-color: var(--background-primary);
    color: var(--content-primary);
    main {
        width: 80vh;
    }
}

:root {
    /* Paleta de cores */
    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    --background-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222E;
    --background-brand: #C58DE7;
    --background-gray: #3D3D3D;

    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0AA;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;

    /* Fontes */
    --font-family-sora: "Sora", sans-serif;
    --font-family-mono: "Roboto Mono", sans-serif;
    --font-family-flex: "Roboto Flex", sans-serif;

    /* Tipografia (font shorthand completa) */
    --display-large: 900 72px/130% var(--font-family-sora);
    --display-medium: 900 40px/130% var(--font-family-sora);
    --display-small: bold 32px/130% var(--font-family-sora);

    --overline: bold 16px/150% var(--font-family-mono);

    --paragraph-large: normal 16px/150% var(--font-family-sora);
    --paragraph-medium: normal 14px/150% var(--font-family-sora);
    --paragraph-small: normal 12px/150% var(--font-family-sora);

    --label-medium: bold 20px/150% var(--font-family-sora);
    --label-small: bold 16px/150% var(--font-family-sora);

}